.toolbar {
  position: absolute;
  right: 4rem;
  top: 0.12rem;

  &-list {
    display: flex;
    height: 0.35rem;
    line-height: 0.35rem;
    background-color: rgba(255, 255, 255, 0.6);

    &-item {
      width: 0.82rem;
      padding: 0 0.02rem;
      text-align: center;
      cursor: pointer;

      > span {
        .iconfont {
          color: #61b27f;
          font-size: 0.17rem;
          margin-right: 0.05rem;
        }
      }
    }

    &-item-active {
      font-weight: 600;
      border-right: 1px solid #cecfcd;

      > span {
        .iconfont {
          color: #637ff4;
          font-size: 0.17rem;
          margin-right: 0.05rem;
        }
      }
    }
  }
}
