.search-table {
  table {
    thead.ant-table-thead {
      tr {
        th {
          background: rgba(33, 62, 111, 0.7);
          padding: 0.08rem 0;
        }
      }
    }

    .ant-table-tbody {
      tr {
        // table tbody tr悬浮和点击高亮背景
        &:hover,
        &.table-row-active {
          background: linear-gradient(to right, #01406c, #052143) !important;
          cursor: pointer;

          td {
            background: none !important;
          }
        }

        td {
          padding: 0.06rem 0;
          background: none !important;

          &:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 1.2rem;
            display: inline-block;
          }
        }

        &:nth-child(even) {
          background: rgba(33, 62, 111, 0.2);
        }
      }
    }

    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
      border-bottom: none;
      color: #fff;

      a {
        color: #fff;
      }
    }
  }

  .ant-pagination {
    margin: 0.1rem 0;

    // 分页item
    .ant-pagination-item {
      background: transparent;
      border: none;
      min-width: 0.23rem;
      height: 0.23rem;
      line-height: 0.23rem;
      margin-right: 0.03rem;

      a {
        color: #fff;
      }

      &.ant-pagination-item-active {
        background: #00afff;
        border-radius: 50%;
      }
    }

    // 上下页
    .ant-pagination-prev,
    .ant-pagination-next,
    .ant-pagination-jump-prev,
    .ant-pagination-jump-next {
      min-width: 0.23rem;
      height: 0.23rem;
      line-height: 0.23rem;
      margin-right: 0.03rem;

      a {
        background: transparent;
        color: #fff;
        border: none;

        .ant-pagination-item-ellipsis {
          color: #fff;
        }
      }
    }
  }
}
