@import './theme.scss';

@mixin changeAntdCss() {
  // spin样式
  .ant-spin-spinning {
    position: relative;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
  }

  // slider下标箭头样式
  .ant-menu-submenu-vertical > .ant-menu-submenu-title .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-vertical-left > .ant-menu-submenu-title .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-vertical-right > .ant-menu-submenu-title .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-vertical > .ant-menu-submenu-title .ant-menu-submenu-arrow::after,
  .ant-menu-submenu-vertical-left > .ant-menu-submenu-title .ant-menu-submenu-arrow::after,
  .ant-menu-submenu-vertical-right > .ant-menu-submenu-title .ant-menu-submenu-arrow::after,
  .ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::after {
    background-image: none;
  }
}

// infobar的searchlist和searchresult的共用head title
@mixin searchTitle() {
  .table-title {
    line-height: 0.22rem;
    margin-top: 0.25rem;
    margin-bottom: 0.12rem;
    font-size: 0.17rem;
    color: #fff;
    font-weight: bold;
    border-left: 0.06rem solid #0179d5;
    padding-left: 0.2rem;
  }
}

// antd table 表头和内容居中
@mixin tableTextCenter() {
  .ant-table {
    table {
      tr {
        th,
        td {
          text-align: center;
        }
      }
    }
  }
}

// 查询条件表单样式
@mixin searchBox() {
  .ant-btn {
    width: 1.1rem;
    height: 0.35rem;
  }

  form {
    display: flex;
    align-items: center;

    .ant-form-item {
      margin-bottom: 0;
      margin-right: 0.2rem;

      .ant-form-item-label {
        label {
          font-size: 0.16rem;
          color: #000;
        }
      }

      .ant-btn {
        background: rgba(23, 137, 189, 1);
        margin-left: 0.2rem;
        margin-right: 1rem;
      }
    }
  }
}

// 全屏modal
@mixin fullscreenModal() {
  .ant-modal {
    width: 100% !important;
    height: calc(100% - 1rem) !important;
    top: 1rem;
    padding-bottom: 0;

    .ant-modal-content {
      height: 100%;

      .ant-modal-body {
        height: 100%;
        padding: 0;
      }
    }
  }
}

// modal edit标题样式
@mixin modalEditTitle() {
  .modal-edit-title {
    position: relative;
    font-size: 0.15rem;
    color: #0f6598;
    border-bottom: 0.02rem solid #c6e4fb;
    height: 0.4rem;
    line-height: 0.4rem;
    font-weight: bold;
    margin: 0.15rem 0;

    i {
      width: 0.78rem;
      height: 0.04rem;
      display: inline-block;
      background: rgba(15, 101, 152, 1);
      position: absolute;
      bottom: -0.01rem;
      left: 0;
    }

    button {
      float: right;
      cursor: pointer;
      position: relative;
      top: 0.1rem;
    }
  }
}

// 批后监管添加 基本信息
@mixin basicInfo() {
  .basic-info {
    flex-basis: 2.55rem;

    .content {
      .ant-form-horizontal {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 2rem;
        background-color: #ededed;

        .ant-form-item {
          width: 100%;
          height: 100%;
          margin-bottom: 0;
          margin-right: 0.15rem;

          &:nth-child(3n) {
            margin-right: 0;
          }

          .ant-form-item-label {
            width: 1.4rem;
            background-color: #e7f0fb;
            padding: 0 0.05rem;

            label {
              width: 100%;
              height: 100%;
              font-size: 0.12rem;
              display: flex;
              align-items: center;

              &::after {
                content: '';
              }

              &::before {
                content: '*';
                color: red;
              }

              b {
                color: red;
              }
            }
          }

          .ant-form-item-control {
            background-color: #f0f8fb;
            padding: 0 0.1rem;

            .ant-form-item-control-input {
              line-height: 0.4rem;
            }
          }
        }
      }
    }
  }
}

// 批后监管添加 图斑录入
@mixin PatchInput() {
  .patch-input {
    display: flex;
    flex-direction: column;
    flex: 1 1;

    .upload {
      display: flex;
      justify-content: space-between;
      height: 0.32rem;
      margin-bottom: 0.18rem;

      .upload-item {
        width: 3.7rem;
        height: 0.32rem;
        border: 1px solid #e5e5e5;
        display: flex;

        .upload-item-title {
          display: inline-block;
          min-width: 1.2rem;
          height: 0.3rem;
          line-height: 0.3rem;
          background: #ebebeb;
          font-size: 0.12rem;
          color: #000;
          text-align: center;
        }

        .upload-content {
          flex: 1 1;
          display: flex;
          position: relative;

          .btn {
            width: 0.55rem;
            line-height: 0.3rem;
            background: #1789bd;
            color: #fff;
            display: inline-block;
            text-align: center;
          }

          .text {
            flex: 1 1;
            line-height: 0.3rem;
            padding: 0 0.05rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 1.94rem;
          }

          input[type='file'] {
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
          }
        }
      }
    }

    .input-map {
      flex: 1 1;
      background: url('../static/images/bg_input_map.jpg') no-repeat center;
      background-size: cover;
    }
  }
}

// 批后监管添加 动态监测
@mixin DynamicDetection() {
  .dynamic-detection {
    flex-basis: 2rem;
    flex-grow: 1;

    .content {
      table {
        .ant-table-thead,
        .ant-table-tbody {
          tr {
            th,
            td {
              padding: 0;
              height: 0.32rem;
              line-height: 0.32rem;
            }
          }
        }
      }
    }
  }
}

// 批后监管添加 项目状态
@mixin ProjectStatus() {
  .project-status {
    flex-basis: 1rem;
    flex-grow: 1;

    .content {
      .ant-radio-group {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}

// 批后监管添加 批文摘要
@mixin SummaryApproval() {
  .summary-approval {
    flex-basis: 2.45rem;
    flex-grow: 1;

    .content {
      height: calc(100% - 0.7rem);

      ul {
        height: 100%;
        display: flex;
        flex-direction: column;

        li {
          border-bottom: 1px solid #eee;
          display: flex;
          align-items: center;
          flex-grow: 1;
        }
      }
    }
  }
}

// 批后监管添加 档案信息
@mixin ArchivalInfo() {
  .archival-info {
    flex-basis: 2.95rem;
    flex-grow: 1;

    .content {
      table {
        .ant-table-thead,
        .ant-table-tbody {
          tr {
            th,
            td {
              padding: 0;
              height: 0.36rem;
              line-height: 0.36rem;
            }
          }
        }

        .ant-table-tbody {
          tr {
            td {
              &:nth-child(1) {
                text-align: left !important;
                padding: 0 0.12rem;
                max-width: 1rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
  }
}
