@import '../../style/theme.scss';

#map-container {
  position: relative;
  margin-left: 0.1rem;
  flex: 1 1;
  //background: url('../../static/images/bg_map.png') no-repeat center;
  border: 1px solid $border-color;
}
