.riverPicture {
  height: calc(100% - 0rem);
  position: relative;

  .layer-tree {
    position: absolute;
    left: 0;
    width: 2.4rem;
    height: 100%;
    background-color: white;

    ul {
      height: 100%;
    }
  }

  .mapContainer {
    width: 100%;
    height: 100%;
    background-color: #364B34;
  }
}