@import '../../style/default.scss';
@import '../../style/theme.scss';

#login {
  background: url(../../static/images/bg_login.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  box-sizing: border-box;
  padding-right: 2.8rem;
  justify-content: flex-end;
  align-items: center;

  .content {
    width: 5.9rem;
    height: 5.81rem;
    padding: 0.35rem;
    // background: url(../../static//images/bg_login_box.png) no-repeat center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    border: 1px solid red;

    .title {
      font-size: 0.33rem;
      letter-spacing: 0.03rem;
    }

    .title-en {
      font-size: 0.12rem;
    }

    .login-box {
      width: 100%;
      margin: 0 auto;
      padding-top: 0.6rem;
      position: relative;
      background-size: 100% 100%;

      .input {
        width: 3.7rem;
        height: 0.5rem;
        margin: 0 auto;
        background: rgba(255, 255, 255, 0.3);

        border-radius: 0.1rem;

        input {
          width: 100%;
          height: 100%;
          padding: 0 0.12rem;
          font-size: 0.18rem;
          color: #fff;
        }

        &.user,
        &.password {
          display: flex;
          align-items: center;
          padding: 0 0.12rem;
          margin-bottom: 0.2rem;

          & > i {
            font-size: 0.24rem;
            color: #fff;
            font-weight: 500;
          }
        }

        &.btn {
          font-size: 0.2rem;
          background: linear-gradient(0deg, rgba(8, 235, 254, 1) 0%, rgba(40, 186, 193, 1) 100%);
          color: #fff;
          text-align: center;
          line-height: 0.5rem;
          cursor: pointer;

          span {
            margin-left: 0.1rem;
            letter-spacing: 0.05rem;
          }
        }
      }

      .error {
        width: 3.6rem;
        height: 0.2rem;
        line-height: 0.2rem;
        margin: 0 auto 0.12rem;

        p {
          color: red;
        }
      }
    }
  }
}
